.story {
  font-style:oblique;
}

.intro {
  font-style: italic;
}

.highlight {
  background-color:cadetblue;
}

h1 {
  color:forestgreen;
  background-color:antiquewhite;
  font-style:italic;
  text-align:center;
}

h2 {
  background-color:rgb(134, 127, 189);
}

h3 {
  background-color:rgb(95, 175, 130);
}

.image1 img {
  float:right;
  width:250px;
  margin-left: 10px;
}

.image2 img {
  float:right;
  width:200px;
}

.box {
  width: 100%;
  border: solid green;
  border-width: 5px;
  background-color:tan;
  margin-bottom: 10px;
  box-sizing:border-box;
}